.footer {
    display: flex;
    justify-content: center;
    border-top: 2px solid #ccc;
    padding: 2rem 0 1.5rem;
  }
  
  .footer-text {
    margin: 0;
    padding: 0;
  }

  @media screen and (max-width:920px) {
    main{
      height: 100%!important;
      min-height: 785px;
    }
    /* .footer{
      position: relative!important;
      margin-top: auto!important;
      bottom: 0!important;
    } */
  }